GrpcServer:
  Port: ":9091"
Database:
  Main:
    Host: 'postgres-user'
    Port: '5432'
    User: 'postgres'
    Password:
    Name: 'user-service'
    SslMode: 'disable'
  Replica:
    Host: 'postgres-user'
    Port: '5432'
    User: 'postgres'
    Password:
    Name: 'user-service'
    SslMode: 'disable'
