Auth:
  JwtSecretKey:
HttpServer:
  Port: 8082
  ShutdownTimeout: 2s
Database:
  Main:
    Host: 'postgres-gist'
    Port: '5432'
    User: 'postgres'
    Password:
    Name: 'gist-service'
    SslMode: 'disable'
  Replica:
    Host: 'postgres-gist'
    Port: '5432'
    User: 'postgres'
    Password:
    Name: 'gist-service'
    SslMode: 'disable'
Transport:
  UserGrpc:
    Host: user-service:9091