Auth:
  JwtSecretKey:
HttpServer:
  Port: 8080
  ShutdownTimeout: 2s
Database:
  Main:
    Host: 'postgres-auth'
    Port: '5432'
    User: 'postgres'
    Password:
    Name: 'auth-service'
    SslMode: 'disable'
  Replica:
    Host: 'postgres-auth'
    Port: '5432'
    User: 'postgres'
    Password:
    Name: 'auth-service'
    SslMode: 'disable'
Transport:
  UserGrpc:
    Host: user-service:9091
Kafka:
  Brokers:
    - kafka1:9092
  Producer:
    topic: "user-verification"
  Consumer:
    topics:
      - "user-verification"
Outbox:
  Interval: 1m
  Workers: 3